<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NOTESIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="../../../public/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="homebg"></div>

    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">

      <!-- Profile Container -->
          <div class="span4in">
            <h6>On the Move!</h6>
            <p> Notesie can be accessed where ever you are, on the train, on the bus or even in the park. With Notesie's unique design features, you can track your progress wherever you are and on any device - your laptop, tablet or even mobile phone! </p>

          </div> <!-- / Profile Container -->

          <div class="span4in">
            <h6>Effective and Efficient!</h6>
            <p> Track your progress and use your time more efficiently with amazing Notesie's features! Take advantage of your education by using Notesie to ensure that you never forget important information again! Notesie helps you to learn more effectively! </p>

          </div>

          <div class="span4in">
            <h6>Stay in the Loop!</h6>
            <p> With Notesie's up-to-date bulletin features, you can stay in the loop with all of the activities that are relevant to you! Discover useful links with Notesie's link dump feature and enhance you learning experience by discovering something new!</p>

          </div>

          </div> <!-- /row-fluid -->
        </div> <!-- /container-fluid -->
      </div> <!-- /container -->


    <!-- Scripts -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>