<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NOTESIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="../../../public/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="homebg"></div>

    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">

      <!-- Profile Container -->
          <div class="span4in">
            <h6>On the Move</h6>
            <p> Notesie can be accessed where ever you are, on the train, on the bus or even in the park, and on any device - your laptop, tablet or even mobile phone! </p>

          </div> <!-- / Profile Container -->

          <div class="span4in">
            <h6>blah</h6>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit lobortis porta. Morbi laoreet risus ut elit congue eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Sed est urna, semper nec hendrerit vitae, bibendum id magna. </p>

          </div>

          <div class="span4in">
            <h6>blahh</h6>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit lobortis porta. Morbi laoreet risus ut elit congue eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Sed est urna, semper nec hendrerit vitae, bibendum id magna. </p>

          </div>

          </div> <!-- /row-fluid -->
        </div> <!-- /container-fluid -->
      </div> <!-- /container -->


    <!-- Scripts -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>